/*импорт стилей*/
@font-face {
	font-family: 'Arial';
	src: url('fonts/arial.eot');
	src: local('☺'), url('fonts/arial.woff') format('woff'), url('fonts/arial.ttf') format('truetype'), url('fonts/arial.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: "Arial";
    font-weight: 400;
    max-width: 1280px;
    margin: 0 auto;
}
.padding-site {
    padding: 50px;
}
.text-span {
    display: flex;
    justify-content: center;
    color: #445161;
    font-size: 30px;
    line-height: 36px;
}
p {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
}
.header {
    width: 100%;
    background-color: #445162;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.header_text span {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
}
.header_text ul {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 20px;
    line-height: 36px;
    list-style-image: url(/img/icons/check_icon.png);
    margin: 35px 0 0 0;
}
.about {
    display: flex;
    justify-content: space-between;
}
.about_text span {
    color: #445161;
    font-size: 30px;
    line-height: 36px;
}
.about_text p {
    max-width: 653px;
}
.pluses {
    background-color: #f5f5f5;
    position: relative;
}
.pluses_wrp {
    display: flex;
    justify-content: space-between;
}
.pluses summary {
    max-width: 526px;
    margin: 29px 0 0 41px;
}
.pluses p {
    max-width: 526px;
}
summary::-webkit-details-marker {
    display: none
}
summary:after {
    background: #445161;
    content: "+";
    color: #fff;
    font-size: 30px;
    text-align: center;
    width: 32px;
    height: 32px;
    float: left;
    margin: -55px 0 0 -40px;
}
details[open] summary:after {
    content: "-";
}
.screenshots_wrp {
    display: flex;
    justify-content: space-between;
}
.screenshots figure {
    display: flex;
    margin: 35px 0 0 0;
}
.screenshots span {
    color: #445161;
    font-size: 24px;
    line-height: 30px;
    margin:  0 0 0 15px;
}
.screenshots p {
    max-width: 360px;
    margin: 15px 0 0 15px;
}
.reviews {
    background-color: #f5f5f5;
}
.reviews_wrp {
    display: flex;
    justify-content: space-between;
}
.reviews figure {
    display: flex;
    margin: 35px 0 0 0;
}
.reviews p {
    background-color: #ebebeb;
    max-width: 436px;
    margin: 0 0 15px 16px;
    font-family: "Arial - Italic";
    font-size: 14px;
    line-height: 18px;
    padding: 15px;
    border-radius: 10px;
    position: relative;
}
.reviews p:after {
    content: ''; 
    position: absolute;
    left: -20px;
    bottom: 70px;
    border: 10px solid transparent;
    border-right: 10px solid #ebebeb;
   }

.reviews_itm span {
    color: #989898;
    font-size: 14px;
    line-height: 18px;
}
.buy_wrp {
    display: flex;
    justify-content: center;
    margin: 29px 0 0 0;
}
.buy_wrp section:nth-child(2) {
    margin: 0 45px;
    height: 100%;
    align-self: flex-end;
}
.buy_wrp section:nth-child(1) {
    height: 100%;
    align-self: flex-end;
}
.buy_itm {
    border: 2px solid #445162;
    border-radius: 5px;
    width: 300px;
}
.buy_itm h3 {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    line-height: 52px;
    background-color: #445162;
    text-align: center;
}
.buy_itm p {
    text-align: center;
    color: #445162;
    font-size: 40px;
    line-height: 66px;
    margin: 0;
}
.buy_itm ol {
    background-color: #445162;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
    padding-top: 19px;
    margin: 0;
}
.buy_btn {
    background-color: #445162;
    text-align: center;
    padding: 20px;
}
.buy_itm a {
    background-color: #fff;
    text-decoration: none;
    padding: 13px 112px;
    border-radius: 5px;
    color: #445161;
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
}
.buy_itm a:hover {
    background-color: #ebebeb;
}
